input.oo{
   border-radius: 20px 20px 20px 20px;
    border-style: solid ;
    border-width: 2px 2px 2px 2px ;
    height: 40px;
    width: 250px;
    margin-top: 100px ;
    margin-left: 230px;
    font-size: 20px;
}
input.io{
    border-radius: 20px 20px 20px 20px;
     border-style: solid ;
     border-width: 2px 2px 2px 2px ;
     height: 40px;
     width: 300px;
     margin-left: 450px;
     margin-top: 20px;
     font-size: 20px;
 }
 